
				<div class="event-times">
					<%= render 'shared/ticket_dates', :event => @event %>
					<img src="/assets/buyTicketsArrow_specific.png" id="down-arrow" />
					<a href="#" alt="Times and Tickets" id="times-tickets">Times &amp; Tickets</a>
	        	</div>