<div id="modal">
	<div class="slideshow">
		<%= @images[0].to_s %>
		<% @images.each_with_index do |image, i| %>
			<div><img src="/assets/pics/<%= image.to_s %>"/></div>
		<% end %>
	</div>
	<div class="pager">
		<div><a href="#" id="close">Close</a></div>
		<div><a href="#" id="next">Next</a></div>
		<div><a href="#" id="prev">Prev</a></div>
	</div>
</div>

<script type="text/javascript">
	//modal popup slideshow
	$('#cboxClose').hide();
		
    $('#modal .slideshow').cycle({
  	    fx:     'fade',
  	    speed:  'fast',
  	    timeout: 0,
  	    next: '#next',
  	    prev: '#prev'
  	});

    $('#close').click(function(){
      $.colorbox.close();
      return false;
    });
</script>