<div>
	<img src="/assets/connector_top.jpg">
</div>

<div id="page" class="streetfair" style="padding:15px 50px 120px 50px;">

	<div id="left-nav">

		<a href="#" id="pics" data-type="streetfair">
			<img src="/assets/grapist.jpg">
			<span>2011 Street Fair Gallery</span>
		</a>

		<a href="/pifa vol early interest form 2013.doc">
			<span>Sign up to volunteer for the 2013 Street Fair<br/>
			<em>click here</a></em></span>
		</a>
		
		<p>
			The Kimmel Center is grateful for the support of the following supporters of the 2013 PIFA Street Fair:
		</p>
		<ul>
			<li><img src="/assets/streetfair/philadelphia.png" /></li>
			<li><img src="/assets/streetfair/wellsfargo.png" /></li>
			<li><img src="/assets/streetfair/endo.png" /></li>
			<li><img src="/assets/streetfair/jefferson.png" /></li>
		</ul>
		
	</div>
	
	<div id="streetfair-content">
		<div class="streetfair-info" style="background-image:url('/assets/streetfair-bg.png')">
			<div class="street-fair-photo-caption">
	        	PIFA Street Fair
	        </div>
			<div class="event-tags">
	        	<span class="free">Free</span>
	        	<span class="family">Family</span>
	       	</div>
		</div>
		<h2>Saturday, April 27, 2013, 11AM - 7PM </h2>
		<h3>Broad Street (Chestnut to South) </h3>

		<p>
			The Street Fair is the culminating event of the spectacular 31-day Philadelphia International Festival of the Arts. On April 27, 2013, the
			Kimmel Center will close Broad Street for an all-out extravaganza, capturing the magic and mystery of this year’s PIFA theme, “If You Had a
			Time Machine…” 
		</p>

		<p>
			Food vendors, artisans, and exhibitors will fill the street while Philadelphians are captivated and entertained by a wide
            variety of unique street performers, musicians, and family-friendly programming as the gates of time open up onto Broad Street.
		</p>
		
		<p>
			FEATURING:
			<ul>
				<li>Ferris Wheel</li>
				<li>Spanish Galleon</li>
				<li>Knights &amp; Horses</li>
				<li>T-Rex</li>
				<li>French Welding Artists</li>
				<li>Obstacle Courses for Kids &amp; Families</li>
				<li>Pop-Up Performances All Day</li>
				<li>Food, Vendors, and Arts Organizations</li>
			</ul>
		</p>
		<p>
			<a href="http://www.kimmelcenter.org/events/pifa-streetfairmap.pdf">To download Street Fair map and complete vendor list, click here.</a><br />
			<a href="http://www.kimmelcenter.org/events/streetfair-transport.pdf">Click here for important information on road closures, parking and transportation.</a>
		</p>
		<br />
		<p><strong>What they said about the 2011 Street Fair:</strong></p>

		<p>
			<span class="quote">“Mesmerizing.”</span> – Metro, 5/1/2011
		</p>

		<p>
			<span class="quote">“Wondrous….A Massive Pep Rally.”</span> Philadelpha Daily News, 5/2/2011
		</p>

		<p>
			<span class="quote">“A Technicolor dream!”</span> – The Art Blog, 5/12/2011
		</p>

		<p>
			<span class="quote">“A Big Win for Philadelphia.”</span> – The Philadelphia Inquirer, 5/12/2011
		</p> 
	</div>
</div>

<div id="connector_bottom">
	<img src="/assets/connector_bottom.jpg">
</div>

<!-- tracking -->
<script>document.write('<s'+'cript language="JavaScript" src="http://view.atdmt.com/jaction/PFA_20130205_Pifa_StreetFairPage"></s'+'cript>')</script><noscript><iframe src="http://view.atdmt.com/iaction/PFA_20130205_Pifa_StreetFairPage" width="1" height="1" frameborder="0" scrolling="No" marginheight="0" marginwidth="0" topmargin="0" leftmargin="0"></iframe></noscript>