<iframe width="390" height="219" src="http://www.youtube.com/embed/9nuV-m2Jbdw" frameborder="0" allowfullscreen style="margin-top: 10px"></iframe>
<p>
	In 2013, Philadelphia embarks on an month-long adventure as the Philadelphia International Festival of the Arts (PIFA) asks audiences “If
	you had a time machine…” This journey takes us from the Big Bang to the invention of casual Fridays, and from a family-friendly puppet show
	in 1876 to the landing of Columbus in 1492, as the artists feverishly work together across time and space, crossing and blending a variety
	of styles to reflect PIFA’s core values of collaboration, innovation, and creativity.
</p> 
<p>
	Central to PIFA is the technological magic happening in the Plaza beneath the Kimmel Center’s vaulted glass roof. Awaiting everyone is an
	interactive Time Machine allowing visitors to personally experience time travel. The Time Machine, acting as the very-living heartbeat of
	the festival, will react to visitors as they walk through it and draw connections between each other, the history and future, and more. As
	an added bonus, the Plaza features a variety of stages with scheduled free programming of all varieties – including Flash of Time, a musical
	performed twice every night and specifically written for PIFA.
</p>
<p class="press-assets" style="margin-top: 0;">
	<a href="/assets/volunteer.pdf" target="volunteer">VOLUNTEER TO BE A PIFA TIME ATTENDANT</a>
</p>
<p style="clear: both">
	Throughout, PIFA will present works that explore specific moments in time – from the serious and somber to the lighthearted and silly! With
	more than 50 projects, there is something for thrill seekers and art-lovers of every generation! This festival guide serves as a roadmap
	covering centuries of moments, dozens of performances, and hundreds of things to do. Don’t miss this once in a lifetime opportunity to take
	a trip through time.
</p>