<h3>Website Privacy Policy</h3>

<p>Kimmel Center, Inc. recognizes the importance of protecting the privacy of our online visitors. It is our intent to balance our legitimate business interests in collecting and using information received from and about you with your reasonable expectations of privacy. The following is the way we handle information learned about you from your visits to our website.</p>

<h3>Collective Data</h3>

<p>Like most other websites, www.kimmelcenter.org and its affiliate sites deposit certain bits of information called "cookies" in a visitor's computer. Cookies are sent back only to the website that deposited them when a visitor returns to that site. Cookies can tell us how and when pages in a website are visited and by how many people. This technology does not collect personal, identifiable information; the information collected is in an aggregate, non-identifiable form. We hope to use the information we collect through this technology to improve our site.</p>

<h3>Personally Identifiable Information</h3>

<p>Kimmel Center, Inc. collects personally identifiable information including names, postal addresses, e-mail addresses, phone numbers, and preferences only when that information is provided voluntarily by a website visitor. SSL (secure socket layer) encryption is then used to protect this personal information. We reserve the right to contact you periodically, by any and all means you provide to us, with special offers, updated information, organizational news or new services. You reserve the right to refuse this information by contacting us directly (see the Contact Us section of this website).</p>

<p>We do not sell or share email addresses or mobile phone numbers that we collect on this website with outside or constituent organizations, with the following exception: By providing your email address when purchasing tickets to select Broadway at the Academy performances, you may receive emails directly from the producers of those shows. The Kimmel Center is not responsible for any actions or offers sent by these third parties, and we advise you to check the privacy policies of any third party from which you receive information directly. Only an anonymous cash ticket purchase at the Kimmel Center Box Office will eliminate the possibility of the specific third party contacts mentioned above.</p>

<p>If you have registered to receive emails from the Kimmel Center, you may opt out of these communications at any time by using the "unsubscribe" link at the bottom of all emails. To opt out of mobile alert messaging, reply to any alert message</p>