<h3>Tickets are available:</h3>
 
<p>
	<strong>By Phone:</strong><br/>
	215-546-PIFA (7432)<br/>
	9:00 am - 8:00 pm<br/>
</p>

<p>
	<strong>Online:</strong><br/>
	<a href="http://www.PIFA.org">PIFA.org</a>
</p>

<p>
	<strong>In Person:</strong><br/>
	The Kimmel Center Box Office <br/>
	300 S. BROAD ST,<br/>
	PHILADELPHIA, PA<br/>
	DAILY 10:00 AM - 8:00 PM<br/>
	(Extended hours on event nights)<br/>
</p>

<p id="fine_print">
	ALL SALES ARE FINAL. THERE ARE NO REFUNDS OR EXCHANGES. Ticket purchases will appear on your credit card statement as TICKET PHILADELPHIA. Artists are subject to change without prior notice and a change of artist is not cause for a refund. Inclement weather is not a cause for refund unless a performance is actually cancelled. In the event of severe rain or snow, weather updates and performance status are noted on the homepage of the venue’s website. All persons entering the theater, including babes in arms, must have a ticket. Please check event listing for family-friendly designation. Latecomers and those who exit during the performance will be seated at the discretion of the facility staff. Copying any performance by camera, audio, or video recording equipment is prohibited.
</p>