/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require styles
 *= require navStyles
 *= require eventSpecificStyle
 *= require_tree .
 */


@font-face {
  	font-family: 'Belgrad';
  	src: url('/assets/fonts/belgrad-webfont.eot?') format('eot'), url('/assets/fonts/belgrad-webfont.woff') format('woff'), url('/assets/fonts/belgrad-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'InterstateLight';
  	src: url('/assets/fonts/interstate-light-webfont.eot?') format('eot'), url('/assets/fonts/interstate-light-webfont.woff') format('woff'), url('/assets/fonts/interstate-light-webfont.ttf') format('truetype');
}
